<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partage ta fiche | Admin </title>
    <link rel="stylesheet" href="/asset/css/mainer.css">
    <link rel="stylesheet" href="/asset/css/viewfiche.css">
</head>
<body>
    
    <div class="land"><img src="/asset/img/Logo.png" alt=""><h1>Partage ta fiche | Admin </h1></div>
    <br><br><br><br>

    
    <br><br>

    <section class="nav">
        <div class="flexnav">
            <div class="btnnav"><a href="/admin">Accueil</a></div>
            <div class="btnnav"><a href="/admin/fiche">Modération Fiche</a></div>
            <div class="btnnav"><a href="/admin/user">Utilisateurs</a></div>
            <div class="btnnav"><a href="/admin/article">Article</a></div>
           


        </div>

    </section>
    <br><br><br><br>
    <section>

        <h1 class="center title">Utilisateurs</h1>
        <br><br><br><br>
        <% user.forEach(user => { %>
            <div class="cardfiche">
                <h1><span>Pseudo :</span><%= user.username %>  </h1>
                <h1><span>Description : </span> <%= user.description %> </h1>
                <h1><span>ID : </span> <%= user.userID %> </h1>
                <a href="/profile/view/?id=<%= user.userID %> ">Voir</a>
                <a href="/admin/user/delete/?id=<%= user.userID %>  " style="color: red;">Supprimer</a>
                <br><br>
            </div>
            <br><br>

         
        <% }) %>
        
        <br><br>



    </section>
</body>
</html>